modules = ["nodejs-20", "postgresql-16"]
run = "node src/index.js & node server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node src/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 8080
