
modules = ["nodejs-20", "postgresql-16"]
run = "node src/index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node src/index.js"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000
